@media screen and (max-width : 478px) {
    .one {
        width: 80%;
        height: 450px;
        background-color: blueviolet;
        border-radius: 15px;
        margin-left: 35px;
        margin-top: 100px;
    }
    body{
        background-color: aquamarine;
    }
    button{
        width: 75px;
        height: 75px;
        margin: 25px 20px 0px 33px;
        background-color: aqua;
        font-size: 40px;
        border: 2px solid aqua;
        border-radius: 10px;
    }
    
}